<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>会议系统</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">

<script>
  $(document).ready(function(){
  
  
  
    var arr = {:json_encode($income)};
    var title = new Array();
    var  abstract= new Array();
    var typeandyear = new Array();
    var keywords = new Array();
    var releasetime = new Array();
    var link = new Array();
    for(i=0;i<arr.length;i++){
      title.push(arr[i].title);
      abstract.push(arr[i].abstract);
      typeandyear.push(arr[i].typeandyear);
      keywords.push(arr[i].keywords);
      releasetime.push(arr[i].releasetime);
      link.push(arr[i].link);
    }
    var dadada=[];
    for(i=0;i<arr.length;i++){
      dadada.push({title:title[i],abstract:abstract[i],
      typeandyear:typeandyear[i],keywords:keywords[i],
      releasetime:releasetime[i],link:link[i]
      
      });
    }
    
  
  $('#table').bootstrapTable({
    data:dadada,
    pagination: true,
    search: true,
    striped: true,                      //是否显示行间隔色
    sortable: true,                     //是否启用排序
    detailView: true,                  //是否显示父子表
    columns: [{
      field: 'title',
      title: 'title '
    }, {
      field: 'abstract',
      title: 'abstract'
    }, {
      field: 'typeandyear',
      title: 'typeandyear'
    },{
      field: 'keywords',
      title: 'keywords'
    },{
      field: 'releasetime',
      title: 'releasetime'
    },{
      field: 'link',
      title: 'link'
    },
    {
        field: 'operate',
                  title: 'operate',
                  width: 200,
                  events: {
                      'click #edit': function (e, value, row, index) {
                          $('#id').val(row.Id);
                          $('#name').val(row.Name);
                          $('#gender').val(row.Gender);
                          $('#age').val(row.Age);
                      },
                      'click #delete': function (e, value, row, index) {
                          deleteInfo(row.Id);
                      }
                  },
                  formatter: function (value, row, index) {
                      var result = "";
                      result += '<button id="edit" class="btn btn-info" data-toggle="modal" data-target="#editModal">编辑</button>';
                      result += '<button id="delete" class="btn btn-danger" style="margin-left:10px;">删除</button>';
                      return result;
                  }
              }
  
  
  
  ]
  })
   // 删除信息
   function deleteInfo(id) {
    
          }
  });
  </script>
</head>
<body>

<nav class="navbar navbar-default mz-navbar">
	<div class="container">
		
		<div class="navbar-header">
	
			<button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
				<div class="icon-bar"></div>
				<div class="icon-bar"></div>
				<div class="icon-bar"></div>
			</button>
			
			<a class="navbar-brand " href="./">Maizi Admin</a>
		</div>
	
		<div class="navbar-collapse collapse">

			<ul class="nav navbar-nav">
        <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
        <li><a href="user_list.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a></li>
        <li><a href="content.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;内容管理</a></li>
        <li><a href="tag.html"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;标签管理</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        	<a class="dropdown-toggle" type="button" href="javascript:void(0);" data-toggle="dropdown" >
				    admin
				    <span class="caret"></span>
				  </a>
        	<ul class="dropdown-menu">
			      <li><a href="../"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;前台首页</a></li>
			      <li><a href="../"><span class="glyphicon glyphicon-user"></span>&nbsp;用户主页</a></li>
			      <li><a href="../"><span class="glyphicon glyphicon-cog"></span>&nbsp;个人设置</a></li>
			      <li><a href="../"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;账户中心</a></li>
			      <li><a href="../"><span class="glyphicon glyphicon-heart"></span>&nbsp;我的收藏</a></li>
			    </ul>
      	</li>
        <li><a href="javascript:void(0);"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
      </ul>
		</div>
	</div>
</nav>
<div class="container">

  

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    发布通知
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          
  
  
          <div id="app">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="id" prop="user">
                    <el-input v-model.number="ruleForm.user"></el-input>
                </el-form-item>
                <el-form-item label="forumname" prop="pass">
                    <el-input  v-model="ruleForm.pass" ></el-input>
                </el-form-item>
                <el-form-item label="chairmanid" prop="checkPass">
                    <el-input  v-model="ruleForm.checkPass" ></el-input>
                  </el-form-item>
                  <el-form-item label="belongto" prop="user">
                    <el-input v-model.number="ruleForm.user"></el-input>
                </el-form-item>
  
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
    
    
        </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  <table id="table">
  
  </table>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>

<div style="margin:100px auto;width:1500px;">
  <table id="table" style="font-size:22px;"></table>
</div>








<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.1/lib/index.js"></script>
    <script>
      new Vue({
          el: '#app',
  
          data() {
              var checkuser = (rule, value, callback) => {
                  if (!value) {
                      return callback(new Error('账号不能为空'));
                  }
                  
              };
              var validatePass = (rule, value, callback) => {
                  if (value === '') {
                      callback(new Error('请输入密码'));
                  } else {
                      if (this.ruleForm.checkPass !== '') {
                          this.$refs.ruleForm.validateField('checkPass');
                      }
                      callback();
                  }
              };
              var validatePass2 = (rule, value, callback) => {
                  if (value === '') {
                      callback(new Error('请再次输入密码'));
                  } else if (value !== this.ruleForm.pass) {
                      callback(new Error('两次输入密码不一致!'));
                  } else {
                      callback();
                  }
              };
              return {
                  ruleForm: {
                      pass: '',
                      checkPass: '',
                      user: ''
                  },
                  rules: {
                      pass: [
                          { validator: validatePass, trigger: 'blur' }
                      ],
                      checkPass: [
                          { validator: validatePass2, trigger: 'blur' }
                      ],
                      user: [
                          { validator: checkuser, trigger: 'blur' }
                      ]
                  }
  
              };
          },
          watch: {
  
          },
          methods: {
              submitForm(formName) {
                  this.$refs[formName].validate((valid) => {
                      if (valid) {
                          alert('submit!');
                      } else {
                          console.log('error submit!!');
                          return false;
                      }
                  });
              },
              resetForm(formName) {
                  this.$refs[formName].resetFields();
              }
          },
  
      })
  
  
  
  
      
  </script>
    
</body>
</html>